{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
  <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/app.css'%}" />
  <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <div id="sidedrawer" class="mui--no-user-select">
    {% include 'framework/menu/sidedrawer.html' %}
  </div>
  <header id="header">
    {% include 'framework/menu/appbar.html' %}
    {% include 'framework/layout/messages.html' %}

  </header>
  <div id="content-wrapper">
    {% block content %}

    {% endblock %}
  </div>

</body>

</html>